<header class="hide-for-print">
  <div class="overlay">
    <div class="row top-header">
      <a href="/about.html">
        <img class="nvieirafelipe" src="/assets/images/nvieirafelipe.png"/>
      </a>
      <a href="http://github.com/nvieirafelipe">
        <i class="fi-social-github icons"></i>
      </a>
      <a href="http://twitter.com/nvieirafelipe">
        <i class="fi-social-twitter icons"></i>
      </a>
      <a href="mailto:nvieirafelipe@gmail.com">
        <i class="fi-mail icons"></i>
      </a>
    </div>
    <div class="row">
      <h1>
        <a class="white" href="/">{{ site.name }}</a>
      </h1>
      <blockquote>
        <p>Master programmers think of systems as stories to be told rather than programs to be written.</p>
        <cite class="white">Robert C. Martin</cite>
      </blockquote>
    </div>
  </div>
</header>
