<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta content="Felipe Vieira" name="author"/>
  <meta content="pt-br" http-equiv="content-language"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <!-- Vendor CSS -->
  <link href="/bower_components/foundation-sites/dist/foundation.css" rel="stylesheet" />
  <link href="/bower_components/foundation-icon-fonts/foundation-icons.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="/assets/stylesheets/main.css" rel="stylesheet" />
  <link href="/assets/stylesheets/syntax.css" rel="stylesheet" />
  <link href="/assets/stylesheets/print.css" media="print" rel="stylesheet" />
  <link href="/assets/images/favicon.png" rel="icon" />

  <title>{{ page.title }}</title>
</head>
