<h2 class='bigger'>
  <span class='code hide-for-print'></span>
  Experiência Profissional
</h2>
<div class='row'>
  <div class='large-1 columns timeline first-year hide-for-print'>
    <span class='radius label'>2014</span>
  </div>
  {% include_relative about/xp/everywhere.html %}
</div>
<div class='row'>
  <div class='large-1 columns timeline second-year hide-for-print'>
    <span class='radius label'>2013</span>
  </div>
  {% include_relative about/xp/pinuts.html %}
  {% include_relative about/xp/medic.html %}
</div>
<div class='row'>
  <div class='large-1 columns timeline third-year hide-for-print'>
    <span class='radius label'>2012</span>
  </div>
  {% include_relative about/xp/fecamp.html %}
</div>
