---
---

@import mixins/colors
@import mixins/sizes

@import mixins/header
@import mixins/footer
@import mixins/about
@import mixins/timeline

*[class*='fi-']
  vertical-align: middle
  margin-right: 10px

.label
  margin: 2px 0

.sticky
  position: fixed
  top: 0

  .column
    width: 100%
