<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 9] <html class="lt-ie10" lang="pt-BR" >-->
<html lang="pt-BR">
  {% include_relative _layouts/head.html %}
  <body>
    <div class="wrapper">
      {% include_relative _layouts/header.html %}
      <main>
        {% include_relative _layouts/menu.html %}
        {{ content }}
      </main>
    </div>
    {% include_relative _layouts/footer.html %}
  </body>
</html>
