<header class="hide-for-print header bg-01">
  <div class="overlay">
    <div class="row header-links">
      <a href="/" class="header-link">
        <img class="nvieirafelipe" src="/assets/images/nvieirafelipe.png"/>
      </a>
      <a href="http://github.com/nvieirafelipe" class="header-link">
        <i class="fi-social-github icons"></i>
      </a>
      <a href="http://twitter.com/nvieirafelipe" class="header-link">
        <i class="fi-social-twitter icons"></i>
      </a>
      <a href="mailto:nvieirafelipe@gmail.com" class="header-link">
        <i class="fi-mail icons"></i>
      </a>
    </div>
    <div class="row header-quote">
      <blockquote class="columns small-12 medium-6">
        <p>Master programmers think of systems as stories to be told rather than programs to be written.</p>
        <cite>Robert C. Martin</cite>
      </blockquote>
    </div>
  </div>
</header>
