<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="Felipe Vieira" name="author"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <!-- Vendor CSS -->
  <link href="/bower_components/foundation-sites/dist/foundation.min.css" rel="stylesheet" />
  <link href="/bower_components/foundation-icon-fonts/foundation-icons.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="/assets/stylesheets/main.css" rel="stylesheet" />
  <link href="/assets/stylesheets/print.css" media="print" rel="stylesheet" />
  <link href="/assets/images/favicon.png" rel="icon" />

  <meta name="google-site-verification" content="R1SuSTjnrHblVxGAmR7qTSHVhzm9ALHr8aPpFWmOkI0" />
  <title>{{ page.title }}</title>
</head>
